<li class="col pl-4 pr-4 sm:pl-8 sm:pr-8 mb-8 sm:mb-16 shade-item">
  <div class="group box-shadow rounded p-4 ease-300ms bg-color {{ include.box-color }} hover:{{ include.color }}">
    <div class="h-112 col-center bg-color rounded-xs rounded-top {{ include.color }}" shade-color>
      <div class="text-xxl bold {{ include.text-color }} o-0 group-hover:o-100 ease-300ms"></div>
    </div>
    <p class="text-sm medium {{ include.color }} group-hover:{{ include.hover-text-color }} ease-300ms leading-40">.{{ include.color | downcase }}</p>
  </div>
</li>
