<html lang="en" class="env-production components-icons">
  <head>
    <meta charset="utf-8" />
    <title>Shipyard Icons</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="theme-color" content="#20a5a8" />
    <link media="screen" rel="stylesheet" type="text/css" href="/shipyard/assets/fonts-ca42f2a84b2649c9fcccd16cc51fb6d1f915ba2a0988d30b91c3b84d8722b369.css" integrity="sha256-ykLyqEsmScn8zNFsxR+20fkVuioJiNMLkcO4TYcis2k=" crossorigin="anonymous">
    <link media="screen" rel="stylesheet" type="text/css" href="/shipyard/assets/syntax-40266bdc7fd995b8cddaeedab3817d78fcc5aed189b1d6a23a6827b437b71488.css" integrity="sha256-QCZr3H/ZlbjN2u7as4F9ePzFrtGJsdaiOmgntDe3FIg=" crossorigin="anonymous">
    <link media="screen" rel="stylesheet" type="text/css" href="/shipyard/assets/application-e80fd212801636dce939977db356c62afaf8ab0a8b361f61b5bd788b1c13e53b.css" integrity="sha256-6A/SEoAWNtzpOZd9s1bGKvr4qwqLNh9htb14ixwT5Ts=" crossorigin="anonymous">
  </head>
  <body>
    <header class="header z-100">
      <div class="container">
        <h6 class="header-logo"><a href="/shipyard/">Shipyard</a></h6>
        <button class="hamburger sm:hidden" shipyard="hamburger">
          <span class="hamburger-button">Menu</span>
        </button>
        <ul class="header-list">
          
            <li class="header-item ">
              <a href="/shipyard/" class="header-link">Installation</a>
            </li>
          
            <li class="header-item ">
              <a href="/shipyard/methodology" class="header-link">Methodology</a>
            </li>
          
            <li class="header-item ">
              <a href="/shipyard/components/" class="header-link">Components</a>
            </li>
          
            <li class="header-item ">
              <a href="/shipyard/utilities/" class="header-link">Utilities</a>
            </li>
          
            <li class="header-item ">
              <a href="/shipyard/stats" class="header-link">Stats</a>
            </li>
          
          <li class="header-item header-item-cta">
            <a href="https://www.npmjs.com/package/@cloudbees/shipyard" target="_blank" class="header-link-cta" rel="noopener">Download</a>
          </li>
        </ul>
      </div>
    </header>
    <div class="container"><h1 class="text-darker">Shipyard Icons</h1>

<p class="text-light text-lg">Shipyard comes with several default icons that you’re welcome to use on any project. Each icon has been designed on a pixel grid at the small size possible, but can be scaled up to any size you like simply by changing the <code class="language-html highlighter-rouge">width</code> and <code class="language-html highlighter-rouge">height</code> in the CSS.</p>

<hr />

<h3 id="common-icons">Common Icons</h3>
<p class="section-description">The following icons are the most frequently used in just about any application.</p>

<ul class="icon-list col-container">
  <li class="col col-50 sm:col-20 mb-8 sm:mb-16 md:mb-24 tooltip-data tooltip-data-top" data-tooltip="plus">
  <div class="box h-80 sm:h-100">
    <svg class="icon icon-plus center" preserveAspectRatio="xMinYMin meet">
    <use xlink:href="/shipyard/assets/icons-8b54f29771faf15e910b0088c70e9dbfeaf00ccbb5df87d5ed3d89e32cb226ca.svg#plus"></use>
  </svg>

  </div>
</li>

  <li class="col col-50 sm:col-20 mb-8 sm:mb-16 md:mb-24 tooltip-data tooltip-data-top" data-tooltip="restart">
  <div class="box h-80 sm:h-100">
    <svg class="icon icon-restart icon-outline center" preserveAspectRatio="xMinYMin meet">
    <use xlink:href="/shipyard/assets/icons-8b54f29771faf15e910b0088c70e9dbfeaf00ccbb5df87d5ed3d89e32cb226ca.svg#restart"></use>
  </svg>

  </div>
</li>

  <li class="col col-50 sm:col-20 mb-8 sm:mb-16 md:mb-24 tooltip-data tooltip-data-top" data-tooltip="gear">
  <div class="box h-80 sm:h-100">
    <svg class="icon icon-gear icon-outline center" preserveAspectRatio="xMinYMin meet">
    <use xlink:href="/shipyard/assets/icons-8b54f29771faf15e910b0088c70e9dbfeaf00ccbb5df87d5ed3d89e32cb226ca.svg#gear"></use>
  </svg>

  </div>
</li>

  <li class="col col-50 sm:col-20 mb-8 sm:mb-16 md:mb-24 tooltip-data tooltip-data-top" data-tooltip="lock">
  <div class="box h-80 sm:h-100">
    <svg class="icon icon-lock center" preserveAspectRatio="xMinYMin meet">
    <use xlink:href="/shipyard/assets/icons-8b54f29771faf15e910b0088c70e9dbfeaf00ccbb5df87d5ed3d89e32cb226ca.svg#lock"></use>
  </svg>

  </div>
</li>

  <li class="col col-50 sm:col-20 mb-8 sm:mb-16 md:mb-24 tooltip-data tooltip-data-top" data-tooltip="card">
  <div class="box h-80 sm:h-100">
    <svg class="icon icon-card center" preserveAspectRatio="xMinYMin meet">
    <use xlink:href="/shipyard/assets/icons-8b54f29771faf15e910b0088c70e9dbfeaf00ccbb5df87d5ed3d89e32cb226ca.svg#card"></use>
  </svg>

  </div>
</li>

  <li class="col col-50 sm:col-20 mb-8 sm:mb-16 md:mb-24 tooltip-data tooltip-data-top" data-tooltip="tag">
  <div class="box h-80 sm:h-100">
    <svg class="icon icon-tag center" preserveAspectRatio="xMinYMin meet">
    <use xlink:href="/shipyard/assets/icons-8b54f29771faf15e910b0088c70e9dbfeaf00ccbb5df87d5ed3d89e32cb226ca.svg#tag"></use>
  </svg>

  </div>
</li>

  <li class="col col-50 sm:col-20 mb-8 sm:mb-16 md:mb-24 tooltip-data tooltip-data-top" data-tooltip="x">
  <div class="box h-80 sm:h-100">
    <svg class="icon icon-x icon-outline center" preserveAspectRatio="xMinYMin meet">
    <use xlink:href="/shipyard/assets/icons-8b54f29771faf15e910b0088c70e9dbfeaf00ccbb5df87d5ed3d89e32cb226ca.svg#x"></use>
  </svg>

  </div>
</li>

  <li class="col col-50 sm:col-20 mb-8 sm:mb-16 md:mb-24 tooltip-data tooltip-data-top" data-tooltip="arrow-up">
  <div class="box h-80 sm:h-100">
    <svg class="icon icon-arrow-up icon-outline center" preserveAspectRatio="xMinYMin meet">
    <use xlink:href="/shipyard/assets/icons-8b54f29771faf15e910b0088c70e9dbfeaf00ccbb5df87d5ed3d89e32cb226ca.svg#arrow-up"></use>
  </svg>

  </div>
</li>

  <li class="col col-50 sm:col-20 mb-8 sm:mb-16 md:mb-24 tooltip-data tooltip-data-top" data-tooltip="arrow-down">
  <div class="box h-80 sm:h-100">
    <svg class="icon icon-arrow-down center" preserveAspectRatio="xMinYMin meet">
    <use xlink:href="/shipyard/assets/icons-8b54f29771faf15e910b0088c70e9dbfeaf00ccbb5df87d5ed3d89e32cb226ca.svg#arrow-down"></use>
  </svg>

  </div>
</li>

  <li class="col col-50 sm:col-20 mb-8 sm:mb-16 md:mb-24 tooltip-data tooltip-data-top" data-tooltip="arrow-left">
  <div class="box h-80 sm:h-100">
    <svg class="icon icon-arrow-left center" preserveAspectRatio="xMinYMin meet">
    <use xlink:href="/shipyard/assets/icons-8b54f29771faf15e910b0088c70e9dbfeaf00ccbb5df87d5ed3d89e32cb226ca.svg#arrow-left"></use>
  </svg>

  </div>
</li>

  <li class="col col-50 sm:col-20 mb-8 sm:mb-16 md:mb-24 tooltip-data tooltip-data-top" data-tooltip="arrow-right">
  <div class="box h-80 sm:h-100">
    <svg class="icon icon-arrow-right center" preserveAspectRatio="xMinYMin meet">
    <use xlink:href="/shipyard/assets/icons-8b54f29771faf15e910b0088c70e9dbfeaf00ccbb5df87d5ed3d89e32cb226ca.svg#arrow-right"></use>
  </svg>

  </div>
</li>

  <li class="col col-50 sm:col-20 mb-8 sm:mb-16 md:mb-24 tooltip-data tooltip-data-top" data-tooltip="check">
  <div class="box h-80 sm:h-100">
    <svg class="icon icon-check center" preserveAspectRatio="xMinYMin meet">
    <use xlink:href="/shipyard/assets/icons-8b54f29771faf15e910b0088c70e9dbfeaf00ccbb5df87d5ed3d89e32cb226ca.svg#check"></use>
  </svg>

  </div>
</li>

  <li class="col col-50 sm:col-20 mb-8 sm:mb-16 md:mb-24 tooltip-data tooltip-data-top" data-tooltip="hamburger">
  <div class="box h-80 sm:h-100">
    <svg class="icon icon-hamburger icon-outline center w-24 h-24" preserveAspectRatio="xMinYMin meet">
    <use xlink:href="/shipyard/assets/icons-8b54f29771faf15e910b0088c70e9dbfeaf00ccbb5df87d5ed3d89e32cb226ca.svg#hamburger"></use>
  </svg>

  </div>
</li>

</ul>

<hr />

<h3 id="status-icons">Status Icons</h3>
<p class="section-description">The following icons are used primarily in the <a href="/shipyard/components/statuses">status component</a>.</p>

<ul class="icon-list col-container">
  <li class="col col-50 sm:col-20 mb-8 sm:mb-16 md:mb-24 tooltip-data tooltip-data-top" data-tooltip="error-xs">
  <div class="box h-80 sm:h-100">
    <svg class="icon icon-error-xs center icon-outline" preserveAspectRatio="xMinYMin meet">
    <use xlink:href="/shipyard/assets/icons-8b54f29771faf15e910b0088c70e9dbfeaf00ccbb5df87d5ed3d89e32cb226ca.svg#error-xs"></use>
  </svg>

  </div>
</li>

  <li class="col col-50 sm:col-20 mb-8 sm:mb-16 md:mb-24 tooltip-data tooltip-data-top" data-tooltip="error">
  <div class="box h-80 sm:h-100">
    <svg class="icon icon-error center icon-outline" preserveAspectRatio="xMinYMin meet">
    <use xlink:href="/shipyard/assets/icons-8b54f29771faf15e910b0088c70e9dbfeaf00ccbb5df87d5ed3d89e32cb226ca.svg#error"></use>
  </svg>

  </div>
</li>

  <li class="col col-50 sm:col-20 mb-8 sm:mb-16 md:mb-24 tooltip-data tooltip-data-top" data-tooltip="fail">
  <div class="box h-80 sm:h-100">
    <svg class="icon icon-fail center icon-outline" preserveAspectRatio="xMinYMin meet">
    <use xlink:href="/shipyard/assets/icons-8b54f29771faf15e910b0088c70e9dbfeaf00ccbb5df87d5ed3d89e32cb226ca.svg#fail"></use>
  </svg>

  </div>
</li>

  <li class="col col-50 sm:col-20 mb-8 sm:mb-16 md:mb-24 tooltip-data tooltip-data-top" data-tooltip="paused">
  <div class="box h-80 sm:h-100">
    <svg class="icon icon-paused center icon-outline" preserveAspectRatio="xMinYMin meet">
    <use xlink:href="/shipyard/assets/icons-8b54f29771faf15e910b0088c70e9dbfeaf00ccbb5df87d5ed3d89e32cb226ca.svg#paused"></use>
  </svg>

  </div>
</li>

  <li class="col col-50 sm:col-20 mb-8 sm:mb-16 md:mb-24 tooltip-data tooltip-data-top" data-tooltip="running">
  <div class="box h-80 sm:h-100">
    <svg class="icon icon-running center icon-outline" preserveAspectRatio="xMinYMin meet">
    <use xlink:href="/shipyard/assets/icons-8b54f29771faf15e910b0088c70e9dbfeaf00ccbb5df87d5ed3d89e32cb226ca.svg#running"></use>
  </svg>

  </div>
</li>

  <li class="col col-50 sm:col-20 mb-8 sm:mb-16 md:mb-24 tooltip-data tooltip-data-top" data-tooltip="skipped">
  <div class="box h-80 sm:h-100">
    <svg class="icon icon-skipped center icon-outline" preserveAspectRatio="xMinYMin meet">
    <use xlink:href="/shipyard/assets/icons-8b54f29771faf15e910b0088c70e9dbfeaf00ccbb5df87d5ed3d89e32cb226ca.svg#skipped"></use>
  </svg>

  </div>
</li>

  <li class="col col-50 sm:col-20 mb-8 sm:mb-16 md:mb-24 tooltip-data tooltip-data-top" data-tooltip="success">
  <div class="box h-80 sm:h-100">
    <svg class="icon icon-success center icon-outline" preserveAspectRatio="xMinYMin meet">
    <use xlink:href="/shipyard/assets/icons-8b54f29771faf15e910b0088c70e9dbfeaf00ccbb5df87d5ed3d89e32cb226ca.svg#success"></use>
  </svg>

  </div>
</li>

  <li class="col col-50 sm:col-20 mb-8 sm:mb-16 md:mb-24 tooltip-data tooltip-data-top" data-tooltip="waiting">
  <div class="box h-80 sm:h-100">
    <svg class="icon icon-waiting center icon-outline" preserveAspectRatio="xMinYMin meet">
    <use xlink:href="/shipyard/assets/icons-8b54f29771faf15e910b0088c70e9dbfeaf00ccbb5df87d5ed3d89e32cb226ca.svg#waiting"></use>
  </svg>

  </div>
</li>

</ul>

<hr />

<h3 id="brand-icons">Brand Icons</h3>
<p class="section-description">If you need to style several paths inside of the icon, it’s important to make sure you use the <em>injected</em> version of the icon.</p>

<ul class="icon-list col-container">
  <!-- <li class="col col-50 sm:col-20 mb-8 sm:mb-16 md:mb-24 tooltip-data tooltip-data-top" data-tooltip="bitbucket-white">
  <div class="box h-80 sm:h-100">
    <svg class="icon icon-bitbucket-white center icon-xl" preserveAspectRatio="xMinYMin meet">
    <use xlink:href="/shipyard/assets/icons-8b54f29771faf15e910b0088c70e9dbfeaf00ccbb5df87d5ed3d89e32cb226ca.svg#bitbucket-white"></use>
  </svg>

  </div>
</li>
 -->
  <li class="col col-50 sm:col-20 mb-8 sm:mb-16 md:mb-24 tooltip-data tooltip-data-top" data-tooltip="bitbucket">
  <div class="box h-80 sm:h-100">
    <svg class="icon icon-bitbucket center gray icon-xl" preserveAspectRatio="xMinYMin meet">
    <use xlink:href="/shipyard/assets/icons-8b54f29771faf15e910b0088c70e9dbfeaf00ccbb5df87d5ed3d89e32cb226ca.svg#bitbucket"></use>
  </svg>

  </div>
</li>

  <li class="col col-50 sm:col-20 mb-8 sm:mb-16 md:mb-24 tooltip-data tooltip-data-top" data-tooltip="bitbucket-color">
  <div class="box h-80 sm:h-100">
    <svg class="icon icon-bitbucket-color center icon-xl" preserveAspectRatio="xMinYMin meet">
    <use xlink:href="/shipyard/assets/icons-8b54f29771faf15e910b0088c70e9dbfeaf00ccbb5df87d5ed3d89e32cb226ca.svg#bitbucket-color"></use>
  </svg>

  </div>
</li>

  <li class="col col-50 sm:col-20 mb-8 sm:mb-16 md:mb-24 tooltip-data tooltip-data-top" data-tooltip="campfire-color">
  <div class="box h-80 sm:h-100">
    <svg class="icon icon-campfire-color center icon-xl" preserveAspectRatio="xMinYMin meet">
    <use xlink:href="/shipyard/assets/icons-8b54f29771faf15e910b0088c70e9dbfeaf00ccbb5df87d5ed3d89e32cb226ca.svg#campfire-color"></use>
  </svg>

  </div>
</li>

  <li class="col col-50 sm:col-20 mb-8 sm:mb-16 md:mb-24 tooltip-data tooltip-data-top" data-tooltip="codeship">
  <div class="box h-80 sm:h-100">
    <svg class="icon icon-codeship center icon-xl" preserveAspectRatio="xMinYMin meet">
    <use xlink:href="/shipyard/assets/icons-8b54f29771faf15e910b0088c70e9dbfeaf00ccbb5df87d5ed3d89e32cb226ca.svg#codeship"></use>
  </svg>

  </div>
</li>

  <li class="col col-50 sm:col-20 mb-8 sm:mb-16 md:mb-24 tooltip-data tooltip-data-top" data-tooltip="email-color">
  <div class="box h-80 sm:h-100">
    <svg class="icon icon-email-color center icon-xl" preserveAspectRatio="xMinYMin meet">
    <use xlink:href="/shipyard/assets/icons-8b54f29771faf15e910b0088c70e9dbfeaf00ccbb5df87d5ed3d89e32cb226ca.svg#email-color"></use>
  </svg>

  </div>
</li>

  <li class="col col-50 sm:col-20 mb-8 sm:mb-16 md:mb-24 tooltip-data tooltip-data-top" data-tooltip="flowdock-color">
  <div class="box h-80 sm:h-100">
    <svg class="icon icon-flowdock-color center icon-xl" preserveAspectRatio="xMinYMin meet">
    <use xlink:href="/shipyard/assets/icons-8b54f29771faf15e910b0088c70e9dbfeaf00ccbb5df87d5ed3d89e32cb226ca.svg#flowdock-color"></use>
  </svg>

  </div>
</li>

  <li class="col col-50 sm:col-20 mb-8 sm:mb-16 md:mb-24 tooltip-data tooltip-data-top" data-tooltip="github">
  <div class="box h-80 sm:h-100">
    <svg class="icon icon-github center icon-xl" preserveAspectRatio="xMinYMin meet">
    <use xlink:href="/shipyard/assets/icons-8b54f29771faf15e910b0088c70e9dbfeaf00ccbb5df87d5ed3d89e32cb226ca.svg#github"></use>
  </svg>

  </div>
</li>

  <li class="col col-50 sm:col-20 mb-8 sm:mb-16 md:mb-24 tooltip-data tooltip-data-top" data-tooltip="gitlab">
  <div class="box h-80 sm:h-100">
    <svg class="icon icon-gitlab center icon-xl" preserveAspectRatio="xMinYMin meet">
    <use xlink:href="/shipyard/assets/icons-8b54f29771faf15e910b0088c70e9dbfeaf00ccbb5df87d5ed3d89e32cb226ca.svg#gitlab"></use>
  </svg>

  </div>
</li>

  <li class="col col-50 sm:col-20 mb-8 sm:mb-16 md:mb-24 tooltip-data tooltip-data-top" data-tooltip="gitlab-color">
  <div class="box h-80 sm:h-100">
    <svg class="icon icon-gitlab-color center icon-xl" preserveAspectRatio="xMinYMin meet">
    <use xlink:href="/shipyard/assets/icons-8b54f29771faf15e910b0088c70e9dbfeaf00ccbb5df87d5ed3d89e32cb226ca.svg#gitlab-color"></use>
  </svg>

  </div>
</li>

  <li class="col col-50 sm:col-20 mb-8 sm:mb-16 md:mb-24 tooltip-data tooltip-data-top" data-tooltip="google-app-engine">
  <div class="box h-80 sm:h-100">
    <svg class="icon icon-google-app-engine center icon-xl" preserveAspectRatio="xMinYMin meet">
    <use xlink:href="/shipyard/assets/icons-8b54f29771faf15e910b0088c70e9dbfeaf00ccbb5df87d5ed3d89e32cb226ca.svg#google-app-engine"></use>
  </svg>

  </div>
</li>

  <li class="col col-50 sm:col-20 mb-8 sm:mb-16 md:mb-24 tooltip-data tooltip-data-top" data-tooltip="grove-color">
  <div class="box h-80 sm:h-100">
    <svg class="icon icon-grove-color center icon-xl" preserveAspectRatio="xMinYMin meet">
    <use xlink:href="/shipyard/assets/icons-8b54f29771faf15e910b0088c70e9dbfeaf00ccbb5df87d5ed3d89e32cb226ca.svg#grove-color"></use>
  </svg>

  </div>
</li>

  <li class="col col-50 sm:col-20 mb-8 sm:mb-16 md:mb-24 tooltip-data tooltip-data-top" data-tooltip="hipchat">
  <div class="box h-80 sm:h-100">
    <svg class="icon icon-hipchat center icon-xl" preserveAspectRatio="xMinYMin meet">
    <use xlink:href="/shipyard/assets/icons-8b54f29771faf15e910b0088c70e9dbfeaf00ccbb5df87d5ed3d89e32cb226ca.svg#hipchat"></use>
  </svg>

  </div>
</li>

  <li class="col col-50 sm:col-20 mb-8 sm:mb-16 md:mb-24 tooltip-data tooltip-data-top" data-tooltip="hipchat-color">
  <div class="box h-80 sm:h-100">
    <svg class="icon icon-hipchat-color center icon-xl" preserveAspectRatio="xMinYMin meet">
    <use xlink:href="/shipyard/assets/icons-8b54f29771faf15e910b0088c70e9dbfeaf00ccbb5df87d5ed3d89e32cb226ca.svg#hipchat-color"></use>
  </svg>

  </div>
</li>

  <li class="col col-50 sm:col-20 mb-8 sm:mb-16 md:mb-24 tooltip-data tooltip-data-top" data-tooltip="slack">
  <div class="box h-80 sm:h-100">
    <svg class="icon icon-slack center icon-xl" preserveAspectRatio="xMinYMin meet">
    <use xlink:href="/shipyard/assets/icons-8b54f29771faf15e910b0088c70e9dbfeaf00ccbb5df87d5ed3d89e32cb226ca.svg#slack"></use>
  </svg>

  </div>
</li>

  <li class="col col-50 sm:col-20 mb-8 sm:mb-16 md:mb-24 tooltip-data tooltip-data-top" data-tooltip="slack-color">
  <div class="box h-80 sm:h-100">
    <svg class="icon icon-slack-color center icon-xl" preserveAspectRatio="xMinYMin meet">
    <use xlink:href="/shipyard/assets/icons-8b54f29771faf15e910b0088c70e9dbfeaf00ccbb5df87d5ed3d89e32cb226ca.svg#slack-color"></use>
  </svg>

  </div>
</li>

  <li class="col col-50 sm:col-20 mb-8 sm:mb-16 md:mb-24 tooltip-data tooltip-data-top" data-tooltip="webhook">
  <div class="box h-80 sm:h-100">
    <svg class="icon icon-webhook center icon-xl" preserveAspectRatio="xMinYMin meet">
    <use xlink:href="/shipyard/assets/icons-8b54f29771faf15e910b0088c70e9dbfeaf00ccbb5df87d5ed3d89e32cb226ca.svg#webhook"></use>
  </svg>

  </div>
</li>

  <li class="col col-50 sm:col-20 mb-8 sm:mb-16 md:mb-24 tooltip-data tooltip-data-top" data-tooltip="webhook-color">
  <div class="box h-80 sm:h-100">
    <svg class="icon icon-webhook-color center icon-xl" preserveAspectRatio="xMinYMin meet">
    <use xlink:href="/shipyard/assets/icons-8b54f29771faf15e910b0088c70e9dbfeaf00ccbb5df87d5ed3d89e32cb226ca.svg#webhook-color"></use>
  </svg>

  </div>
</li>

</ul>

<hr />

<h3 id="icon-sizes">Icon Sizes</h3>
<p class="section-description">The icon size utility classes can be applied to any icon, and are useful when you want to override the default icon size.</p>

<ul class="icon-list col-container">
  <li class="col col-50 sm:col-20 mb-8 sm:mb-16 md:mb-24 tooltip-data tooltip-data-top" data-tooltip=".icon-xxs">
  <div class="box h-80 sm:h-100">
    <svg class="icon icon-gear icon-outline center icon-xxs" preserveAspectRatio="xMinYMin meet">
    <use xlink:href="/shipyard/assets/icons-8b54f29771faf15e910b0088c70e9dbfeaf00ccbb5df87d5ed3d89e32cb226ca.svg#gear"></use>
  </svg>

  </div>
</li>

  <li class="col col-50 sm:col-20 mb-8 sm:mb-16 md:mb-24 tooltip-data tooltip-data-top" data-tooltip=".icon-xs">
  <div class="box h-80 sm:h-100">
    <svg class="icon icon-gear icon-outline center icon-xs" preserveAspectRatio="xMinYMin meet">
    <use xlink:href="/shipyard/assets/icons-8b54f29771faf15e910b0088c70e9dbfeaf00ccbb5df87d5ed3d89e32cb226ca.svg#gear"></use>
  </svg>

  </div>
</li>

  <li class="col col-50 sm:col-20 mb-8 sm:mb-16 md:mb-24 tooltip-data tooltip-data-top" data-tooltip=".icon-sm">
  <div class="box h-80 sm:h-100">
    <svg class="icon icon-gear icon-outline center icon-sm" preserveAspectRatio="xMinYMin meet">
    <use xlink:href="/shipyard/assets/icons-8b54f29771faf15e910b0088c70e9dbfeaf00ccbb5df87d5ed3d89e32cb226ca.svg#gear"></use>
  </svg>

  </div>
</li>

  <li class="col col-50 sm:col-20 mb-8 sm:mb-16 md:mb-24 tooltip-data tooltip-data-top" data-tooltip=".icon-md">
  <div class="box h-80 sm:h-100">
    <svg class="icon icon-gear icon-outline center icon-md" preserveAspectRatio="xMinYMin meet">
    <use xlink:href="/shipyard/assets/icons-8b54f29771faf15e910b0088c70e9dbfeaf00ccbb5df87d5ed3d89e32cb226ca.svg#gear"></use>
  </svg>

  </div>
</li>

  <li class="col col-50 sm:col-20 mb-8 sm:mb-16 md:mb-24 tooltip-data tooltip-data-top" data-tooltip=".icon-lg">
  <div class="box h-80 sm:h-100">
    <svg class="icon icon-gear icon-outline center icon-lg" preserveAspectRatio="xMinYMin meet">
    <use xlink:href="/shipyard/assets/icons-8b54f29771faf15e910b0088c70e9dbfeaf00ccbb5df87d5ed3d89e32cb226ca.svg#gear"></use>
  </svg>

  </div>
</li>

  <li class="col col-50 sm:col-20 mb-8 sm:mb-16 md:mb-24 tooltip-data tooltip-data-top" data-tooltip=".icon-xl">
  <div class="box h-80 sm:h-100">
    <svg class="icon icon-gear icon-outline center icon-xl" preserveAspectRatio="xMinYMin meet">
    <use xlink:href="/shipyard/assets/icons-8b54f29771faf15e910b0088c70e9dbfeaf00ccbb5df87d5ed3d89e32cb226ca.svg#gear"></use>
  </svg>

  </div>
</li>

</ul>
</div>
    <footer class="align-center text-lightest">
      &copy; Shipyard Framework 2018
    </footer>
    <script src="/shipyard/assets/application-02c9f422e267fe39b3823737f79a3efe3238ee5aeda60f8b606c321ce62b1008.js" type="text/javascript" integrity="sha256-Asn0IuJn/jmzgjc395o+/jI47lrtpg+LYGwyHOYrEAg=" crossorigin="anonymous"></script>
  </body>
</html>
