<html lang="en" class="env- components-tooltips">
  <head>
    <meta charset="utf-8" />
    <title>Shipyard Tooltips</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="theme-color" content="#20a5a8" />
    <link media="screen" rel="stylesheet" type="text/css" href="/shipyard-styleguide/assets/fonts-196f31f91b382335f739bd2ed073b0f472af089c304a43190496df609ffb197d.css">
    <link media="screen" rel="stylesheet" type="text/css" href="/shipyard-styleguide/assets/syntax-e3516b4439791d437ffaef80ea69a6ba44fe787936b05fff1a575dd56cd0854d.css">
    <link media="screen" rel="stylesheet" type="text/css" href="/shipyard-styleguide/assets/application-5c629b9dbfd027cf06ebd3120372d993eef26f3caf672363b4f1939c04a4a1af.css">
  </head>
  <body>
    <header class="header z-100">
      <div class="container">
        <h6 class="header-logo"><a href="/shipyard-styleguide/">Shipyard</a></h6>
        <button class="hamburger sm:hidden" shipyard="hamburger">
          <span class="hamburger-button">Menu</span>
        </button>
        <ul class="header-list">
          
            <li class="header-item ">
              <a href="/shipyard-styleguide/" class="header-link">Installation</a>
            </li>
          
            <li class="header-item ">
              <a href="/shipyard-styleguide/methodology" class="header-link">Methodology</a>
            </li>
          
            <li class="header-item ">
              <a href="/shipyard-styleguide/components/" class="header-link">Components</a>
            </li>
          
            <li class="header-item ">
              <a href="/shipyard-styleguide/utilities/" class="header-link">Utilities</a>
            </li>
          
          <li class="header-item header-item-cta">
            <a href="https://github.com/codeship/shipyard" target="_blank" class="header-link-cta" rel="noopener">Download</a>
          </li>
        </ul>
      </div>
    </header>
    <div class="container"><h1>Shipyard Tooltips</h1>

<p class="text-light text-lg mt-15">Add more context to any element your design with a simple tooltip.</p>

<hr />

<h2 id="data-tooltips-tooltip-data">Data Tooltips <code class="language-html highlighter-rouge">.tooltip-data</code></h2>
<p class="section-description">Useful when you need tooltips with content that’s a bit more complex than your average tooltip.</p>

<div class="align-center mb-30">
  
    <button class="btn btn-secondary btn-margin tooltip-data tooltip-data-top" data-tooltip="What a lovely tooltip">Top</button>
  
    <button class="btn btn-secondary btn-margin tooltip-data tooltip-data-bottom" data-tooltip="What a lovely tooltip">Bottom</button>
  
    <button class="btn btn-secondary btn-margin tooltip-data tooltip-data-right" data-tooltip="What a lovely tooltip">Right</button>
  
    <button class="btn btn-secondary btn-margin tooltip-data tooltip-data-left" data-tooltip="What a lovely tooltip">Left</button>
  
</div>

<div class="language-html highlighter-rouge"><div class="highlight"><pre class="code-block"><code><span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"tooltip-data tooltip-data-top"</span> <span class="na">data-tooltip=</span><span class="s">"What a lovely tooltip"</span><span class="nt">&gt;</span>Top<span class="nt">&lt;/button&gt;</span>
<span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"tooltip-data tooltip-data-bottom"</span> <span class="na">data-tooltip=</span><span class="s">"What a lovely tooltip"</span><span class="nt">&gt;</span>Bottom<span class="nt">&lt;/button&gt;</span>
<span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"tooltip-data tooltip-data-right"</span> <span class="na">data-tooltip=</span><span class="s">"What a lovely tooltip"</span><span class="nt">&gt;</span>Right<span class="nt">&lt;/button&gt;</span>
<span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"tooltip-data tooltip-data-left"</span> <span class="na">data-tooltip=</span><span class="s">"What a lovely tooltip"</span><span class="nt">&gt;</span>Left<span class="nt">&lt;/button&gt;</span>
</code></pre></div></div>

<hr />

<h2 id="light-data-tooltips-tooltip-datatooltip-data-light">Light, Data Tooltips <code class="language-html highlighter-rouge">.tooltip-data.tooltip-data-light</code></h2>
<p class="section-description">Useful when the tooltip you’re display will appear on a darker background.</p>

<div class="align-center mb-30">
  
    <button class="btn btn-secondary btn-margin tooltip-data tooltip-data-light tooltip-data-top" data-tooltip="What a lovely tooltip">Top</button>
  
    <button class="btn btn-secondary btn-margin tooltip-data tooltip-data-light tooltip-data-bottom" data-tooltip="What a lovely tooltip">Bottom</button>
  
    <button class="btn btn-secondary btn-margin tooltip-data tooltip-data-light tooltip-data-right" data-tooltip="What a lovely tooltip">Right</button>
  
    <button class="btn btn-secondary btn-margin tooltip-data tooltip-data-light tooltip-data-left" data-tooltip="What a lovely tooltip">Left</button>
  
</div>

<div class="language-html highlighter-rouge"><div class="highlight"><pre class="code-block"><code><span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"tooltip-data tooltip-data-light tooltip-data-{ direction }"</span> <span class="na">data-tooltip=</span><span class="s">"What a lovely tooltip"</span><span class="nt">&gt;</span>CTA<span class="nt">&lt;/button&gt;</span>
</code></pre></div></div>

<hr />

<h2 id="custom-tooltips-tooltip">Custom Tooltips <code class="language-html highlighter-rouge">.tooltip</code></h2>
<p class="section-description">Useful when you need tooltips with content that’s a bit more complex than your average tooltip.</p>

<div class="align-center mb-30">
  
    <button class="btn btn-secondary btn-margin tooltip-parent">
      Top
      <div class="tooltip tooltip-top z-50">
        <h3 class="white text-md mb-5">Tooltip Top</h3>
        <p class="white-70 text-sm">Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus.</p>
      </div>
    </button>
  
    <button class="btn btn-secondary btn-margin tooltip-parent">
      Bottom
      <div class="tooltip tooltip-bottom z-50">
        <h3 class="white text-md mb-5">Tooltip Bottom</h3>
        <p class="white-70 text-sm">Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus.</p>
      </div>
    </button>
  
    <button class="btn btn-secondary btn-margin tooltip-parent">
      Right
      <div class="tooltip tooltip-right z-50">
        <h3 class="white text-md mb-5">Tooltip Right</h3>
        <p class="white-70 text-sm">Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus.</p>
      </div>
    </button>
  
    <button class="btn btn-secondary btn-margin tooltip-parent">
      Left
      <div class="tooltip tooltip-left z-50">
        <h3 class="white text-md mb-5">Tooltip Left</h3>
        <p class="white-70 text-sm">Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus.</p>
      </div>
    </button>
  
</div>

<div class="language-html highlighter-rouge"><div class="highlight"><pre class="code-block"><code><span class="c">&lt;!-- Tooltip (Top) --&gt;</span>
<span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"tooltip-parent"</span><span class="nt">&gt;</span>
  Call to Action
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"tooltip tooltip-top z-50"</span><span class="nt">&gt;</span><span class="c">&lt;!-- Tooltip Content --&gt;</span><span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/button&gt;</span>

<span class="c">&lt;!-- Tooltip (Bottom) --&gt;</span>
<span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"tooltip-parent"</span><span class="nt">&gt;</span>
  Call to Action
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"tooltip tooltip-bottom z-50"</span><span class="nt">&gt;</span><span class="c">&lt;!-- Tooltip Content --&gt;</span><span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/button&gt;</span>

<span class="c">&lt;!-- Tooltip (Right) --&gt;</span>
<span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"tooltip-parent"</span><span class="nt">&gt;</span>
  Call to Action
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"tooltip tooltip-right z-50"</span><span class="nt">&gt;</span><span class="c">&lt;!-- Tooltip Content --&gt;</span><span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/button&gt;</span>

<span class="c">&lt;!-- Tooltip (Left) --&gt;</span>
<span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"tooltip-parent"</span><span class="nt">&gt;</span>
  Call to Action
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"tooltip tooltip-left z-50"</span><span class="nt">&gt;</span><span class="c">&lt;!-- Tooltip Content --&gt;</span><span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/button&gt;</span>
</code></pre></div></div>

<hr />

<h2 id="light-custom-tooltips-tooltiptooltip-light">Light, Custom Tooltips <code class="language-html highlighter-rouge">.tooltip.tooltip-light</code></h2>
<p class="section-description">Useful when the tooltip you’re display will appear on a darker background.</p>

<div class="align-center mb-30">
  
    <button class="btn btn-secondary btn-margin tooltip-parent">
      Top
      <div class="tooltip tooltip-light tooltip-top z-50">
        <h3 class="text-dark text-md mb-5">Tooltip Top</h3>
        <p class="text-light text-sm">Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus.</p>
      </div>
    </button>
  
    <button class="btn btn-secondary btn-margin tooltip-parent">
      Bottom
      <div class="tooltip tooltip-light tooltip-bottom z-50">
        <h3 class="text-dark text-md mb-5">Tooltip Bottom</h3>
        <p class="text-light text-sm">Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus.</p>
      </div>
    </button>
  
    <button class="btn btn-secondary btn-margin tooltip-parent">
      Right
      <div class="tooltip tooltip-light tooltip-right z-50">
        <h3 class="text-dark text-md mb-5">Tooltip Right</h3>
        <p class="text-light text-sm">Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus.</p>
      </div>
    </button>
  
    <button class="btn btn-secondary btn-margin tooltip-parent">
      Left
      <div class="tooltip tooltip-light tooltip-left z-50">
        <h3 class="text-dark text-md mb-5">Tooltip Left</h3>
        <p class="text-light text-sm">Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus.</p>
      </div>
    </button>
  
</div>

<div class="language-html highlighter-rouge"><div class="highlight"><pre class="code-block"><code><span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"tooltip-parent"</span><span class="nt">&gt;</span>
  Call to Action
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"tooltip tooltip-light tooltip-{ direction } z-50"</span><span class="nt">&gt;</span><span class="c">&lt;!-- Tooltip Content --&gt;</span><span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/button&gt;</span>
</code></pre></div></div>

<hr />

<h2 id="css-output">CSS Output</h2>
<p class="section-description">Here’s the raw CSS output if you’d like a peak under the hood.</p>

<div class="language-css highlighter-rouge"><div class="highlight"><pre class="code-block"><code></code></pre></div></div>

<hr />

<ul class="col-container">
  <li class="css-stat-item col col-10">
    <span class="text-sm medium text-lighter block">Gzipped Size</span>
    <span class="text-xxxl bold text-darker"></span>
  </li>
  <li class="css-stat-item col col-10">
    <span class="text-sm medium text-lighter block">Declarations</span>
    <span class="text-xxxl bold text-darker"></span>
  </li>
  <li class="css-stat-item col col-10">
    <span class="text-sm medium text-lighter block">Selectors</span>
    <span class="text-xxxl bold text-darker"></span>
  </li>
</ul>

</div>
    <footer class="align-center text-lightest">
      &copy; Shipyard Framework 2017
    </footer>
    <script src="/shipyard-styleguide/assets/application-97485768e1d63e63e3adecd1b96ec9642767cce96b42fe8d479ae0aa7ba647c8.js" type="text/javascript"></script>
  </body>
</html>
