$shipyard-padding-defaults: (
  0: 0,
  2: 2px,
  4: 4px,
  8: 8px,
  12: 12px,
  16: 16px,
  20: 20px,
  24: 24px,
  28: 28px,
  32: 32px,
  40: 40px,
  48: 48px,
  52: 52px,
  56: 56px,
  60: 60px,
  64: 64px,
  76: 76px
) !default;

$shipyard-margin-defaults: map-merge-options($shipyard-padding-defaults, (auto: auto)) !default;

$shipyard-padding-options: () !default;
$shipyard-margin-options: () !default;

$shipyard-margin: map-merge-options($shipyard-margin-defaults, $shipyard-margin-options) !default;
$shipyard-padding: map-merge-options($shipyard-padding-defaults, $shipyard-padding-options) !default;
