$shipyard-position-defaults: (
  '': 0,
  '-1': -1px,
  '4': 4px,
  '8': 8px,
  '12': 12px,
  '16': 16px,
  '20': 20px,
  '24': 24px,
  '32': 32px,
  '48': 48px,
  '50\\%': 50%,
  '-50\\%': -50%,
  '100\\%': 100%
) !default;

$shipyard-position-options: () !default;
$shipyard-positions: map-merge-options($shipyard-position-defaults, $shipyard-position-options) !default;
