$shipyard-utility-defaults: (

  // Shipyard: Color Utilities
  color: (
    prefix: null,
    responsive: true,
    states: (hover),
    values: $shipyard-colors
  ),

  border-color: (
    prefix: 'border',
    responsive: false,
    values: ('current': currentColor)
  ),

  background-color: (
    prefix: 'bg',
    responsive: true,
    states: (hover),
    values: $shipyard-colors
  ),

  background-image: (
    prefix: 'bg',
    responsive: true,
    values: (
      'none': none
    )
  ),

  border-style: (
    prefix: 'border',
    responsive: false,
    states: ('last-child'),
    variants: (t: top, b: bottom, l: left, r: right, x: (left, right), y: (top, bottom)),
    values: (
      '': solid,
      'none': none,
    )
  ),

  border-width: (
    prefix: 'border',
    responsive: false,
    values: (
      'none': 0,
      'thin': 1px,
      'thick': 2px,
    )
  ),

  // Shipyard: Box-Shadow Utility
  box-shadow: (
    prefix: 'box-shadow',
    responsive: true,
    states: (hover),
    values: (
      '': 0 1px 2px rgba($gray-darkest, .08),
      'left': -1px 0 3px rgba($gray-darkest, .2),
      'right': 1px 0 3px rgba($gray-darkest, .2),
      'hover': 0 0 4px 1px rgba($blue, .5),
      'active': 0 0 4px 1px rgba($green, .75),
      'none': none
    )
  ),

  // Shipyard: Breakpoints
  breakpoints: (
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
  ),

  // Shipyard: Grid Component
  grid: (
    prefix: 'col',
    responsive: true,
    values: (0, 5, 10, 15, 20, 25, 30, 33, 35, 40, 45, 50, 55, 60, 65, 66, 70, 75, 80, 85, 90, 95, 100)
  ),

  // Shipyard: Line-Height Utility
  line-height: (
    prefix: 'leading',
    responsive: true,
    values: (
      'none': 1,
      'tight': 1.2,
      'normal': 1.4,
      'loose': 1.6,
      '16': 16px,
      '20': 20px,
      '24': 24px,
      '28': 28px,
      '32': 32px,
      '40': 40px,
      '48': 48px,
      '56': 56px,
      '64': 64px
    )
  ),

  // Shipyard: Height Utility
  height: (
    prefix: 'h',
    responsive: true,
    values: (
      '50': 50px,
      '60': 60px,
      '70': 70px,
      '80': 80px,
      '90': 90px,
      '100': 100px
    )
  ),

  // Shipyard: Width Utility
  width: (
    prefix: 'w',
    responsive: true,
    values: (
      '50': 50px,
      '60': 60px,
      '70': 70px,
      '80': 80px,
      '90': 90px,
      '100': 100px
    )
  ),

  // Shipyard: Cursor Utility
  cursor: (
    prefix: 'cursor',
    responsive: true,
    values: (auto, pointer, default, ew-resize)
  ),

  // Shipyard: Center
  center: (
    prefix: 'center',
    responsive: true,
    values: ()
  ),

  // Shipyard: Margin Utilities
  margin: (
    prefix: 'm',
    responsive: true,
    variants: (t: top, b: bottom, l: left, r: right),
    values: map-get($shipyard-options, margin)
  ),

  // TODO: This map is deprecated. Do not use the +responsive mixins anymore.
  margins: (
    all: 10px,
    sm: 20px,
    md: 30px,
    lg: 30px,
    xl: 40px
  ),

  // Shipyard: Padding Utilities
  padding: (
    prefix: 'p',
    responsive: true,
    variants: (t: top, b: bottom, l: left, r: right),
    values: map-get($shipyard-options, padding)
  ),

  // Shipyard: Max-Width Utility
  max-width: (
    prefix: 'max-w',
    responsive: false,
    values: (
      '320': 320px,
      '400': 400px,
      '600': 600px,
      '1440': 1440px
    )
  ),

  // Shipyard: Display Utilities
  display: (
    prefix: null,
    responsive: true,
    values: (
      'flex': flex,
      'block': block,
      'table': table,
      'inline': inline,
      'inline-block': inline-block,
      'hidden': none
    )
  ),

  // Shipyard: Font-Family Utility
  font-family: (
    prefix: null,
    responsive: false,
    values: (
      'sans-serif': sans-serif,
      'monospace': monospace
    )
  ),

  // Shipyard: Font-Size Utility
  font-size: (
    prefix: 'text',
    responsive: true,
    values: (
      xxs: 12px,
      xs: 13px,
      sm: 14px,
      md: 16px,
      lg: 18px,
      xl: 20px,
      xxl: 22px,
      xxxl: 24px
    )
  ),

  // Shipyard: Font-Style Utility
  font-style: (
    prefix: null,
    responsive: false,
    values: (italic)
  ),

  // Shipyard: Font-Weight Utility
  font-weight: (
    prefix: null,
    responsive: true,
    values: (
      normal: 300,
      italic: 400,
      medium: 500,
      medium-italic: 600,
      bold: 700,
      bold-italic: 800
    )
  ),

  // Shipyard: White-Space Utilities
  white-space: (
    prefix: 'white-space',
    responsive: true,
    values: (normal, pre, pre-wrap, nowrap)
  ),

  // Shipyard: Text-Align Utilities
  text-align: (
    prefix: 'align',
    responsive: true,
    values: (center, left, right)
  ),

  // Shipyard: Text-Direction Utilities
  text-decoration: (
    prefix: null,
    responsive: false,
    values: (
      'line-through': line-through,
      'underline': underline,
      'no-underline': none
    )
  ),

  // Shipyard: Text-Align Utilities
  text-shadow: (
    prefix: 'text-shadow',
    responsive: false,
    values: (
      '': 0 1px 0 rgba(#000,.1),
      'sm': 0 1px 1px rgba(#000, .1)
    )
  ),

  // Shipyard: Text-Transform Utility
  text-transform: (
    prefix: null,
    responsive: false,
    values: (uppercase, lowercase, capitalize)
  ),

  // Shipyard: Float Utilities
  float: (
    prefix: 'float',
    responsive: true,
    values: (none, left, right)
  ),

  // Shipyard: Overflow Utility
  overflow: (
    prefix: 'overflow',
    responsive: true,
    values: (auto, hidden, visible)
  ),

  overflow-x: (
    prefix: 'overflow-x',
    responsive: true,
    values: (scroll: auto)
  ),

  overflow-y: (
    prefix: 'overflow-y',
    responsive: true,
    values: (scroll: auto)
  ),

  // Shipyard: Flex Direction Utility
  flex-direction: (
    prefix: 'flex',
    responsive: true,
    values: (
      'row': row,
      'row-reverse': row-reverse,
      'col': column,
      'col-reverse': column-reverse
    )
  ),

  // Shipyard: Border-Radius Utility
  border-radius: (
    prefix: 'rounded',
    responsive: true,
    values: (
      '': 4px,
      '0': 0,
      'xs': 2px,
      'sm': 3px,
      'md': 4px,
      'lg': 5px,
      'pill': 999px
    )
  ),

  // Shipyard: Opacity Utility
  opacity: (
    prefix: 'o',
    responsive: false,
    values: (
      '100': 1,
      '90': .9,
      '80': .8,
      '70': .7,
      '60': .6,
      '50': .5,
      '40': .4,
      '30': .3,
      '20': .2,
      '10': .1,
      '0': 0
    )
  ),

  // Shipyard: Outline Utility
  outline: (
    prefix: 'outline',
    responsive: false,
    values: (none)
  ),

  // Shipyard: Pointer Events Utility
  pointer-events: (
    prefix: 'click',
    responsive: true,
    values: (none, auto)
  ),

  // Shipyard: Position Utilities
  position: (
    prefix: null,
    responsive: true,
    values: (static, relative, absolute, fixed, sticky)
  ),

  top: (
    prefix: 'pin-t',
    responsive: true,
    values: map-get($shipyard-options, position)
  ),

  left: (
    prefix: 'pin-l',
    responsive: true,
    values: map-get($shipyard-options, position)
  ),

  right: (
    prefix: 'pin-r',
    responsive: true,
    values: map-get($shipyard-options, position)
  ),

  bottom: (
    prefix: 'pin-b',
    responsive: true,
    values: map-get($shipyard-options, position)
  ),

  // Shipyard: Text-Overflow Utility
  text-overflow: (
    prefix: null,
    responsive: true,
    values: (ellipsis, clip)
  ),

  // Shipyard: Transition Utility Speeds
  transition: (
    prefix: 'ease',
    responsive: false,
    values: (
      '0ms': none,
      '150ms': all 150ms ease,
      '300ms': all 300ms ease,
      '600ms': all 600ms ease
    )
  ),

  // Shipyard: Transform Utility
  transform: (
    prefix: null,
    responsive: true,
    values: (
      'translate-0': translate(0),
      'translatex-0': translatex(0),
      'translatey-0': translatey(0),
      'translate-50\\%': translate(50%, 50%),
      'translatex-50\\%': translatex(50%),
      'translatey-50\\%': translatey(50%),
      'translatex-100\\%': translatex(100%),
      'translatey-100\\%': translatey(100%),
      'translate--50\\%': translate(-50%, -50%),
      'translatex--50\\%': translatex(-50%),
      'translatey--50\\%': translatey(-50%),
      'rotate-45': rotate(45deg),
      'rotate-90': rotate(90deg),
      'rotate-180': rotate(180deg) translate(50%, 50%)
    )
  ),

  // Shipyard: User-Select Utility
  user-select: (
    prefix: 'select',
    responsive: false,
    values: (none, all, auto, text)
  ),

  // Shipyard: Vertical-Align Utility
  vertical-align: (
    prefix: 'v-align',
    responsive: false,
    values: (baseline, top, middle, bottom)
  ),

  // Shipyard: Visibilty Utility
  visibility: (
    prefix: null,
    responsive: false,
    values: (
      'invisible': hidden,
      'visible': visible
    )
  ),

  // Shipyard: Will-Change Utility
  will-change: (
    prefix: 'will-change',
    responsive: false,
    values: (transform, opacity)
  ),

  // Shipyard: Z-Index Utility
  z-index: (
    prefix: 'z',
    responsive: false,
    values: (0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 200, auto)
  )
);

// Merge the default options and the custom options together.
$shipyard-utility-options: () !default;
$shipyard-utility-options: map-merge-options($shipyard-utility-defaults, $shipyard-utility-options);

// TODO: Remove these variables someday in favor of the maps.
$margins: map-get($shipyard-utility-options, margins);
$breakpoints: map-get($shipyard-utility-options, breakpoints);
