$font-family: 'museo-sans-rounded', 'Museo Sans Rounded', Arial, sans-serif;
$font-monospace: 'Roboto Mono', monospace;

$shipyard-options: (
  font-weight: (
    values: (
      normal: 300,
      medium: 500,
      bold: 700
    )
  ),
  height: (
    responsive: true,
    values: (
      '4': 4px,
      '16': 16px,
      '24': 24px,
      '28': 28px,
      '32': 32px,
      '36': 36px,
      '44': 44px,
      '48': 48px,
      '50': 50px,
      '56': 56px,
      '60': 60px,
      '64': 64px,
      '70': 70px,
      '80': 80px,
      '90': 90px,
      '100': 100px,
      'auto': auto
    )
  ),
  width: (
    responsive: true,
    values: (
      '4': 4px,
      '16': 16px,
      '24': 24px,
      '28': 28px,
      '32': 32px,
      '36': 36px,
      '44': 44px,
      '48': 48px,
      '50': 50px,
      '56': 56px,
      '60': 60px,
      '64': 64px,
      '70': 70px,
      '80': 80px,
      '90': 90px,
      '100': 100px,
      'auto': auto
    )
  )
);
