<html lang="en" class="env- components-modals-example-downgrade">
  <head>
    <meta charset="utf-8" />
    <title>Shipyard Modal Example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="theme-color" content="#20a5a8" />
    <link media="screen" rel="stylesheet" type="text/css" href="/shipyard/assets/fonts-196f31f91b382335f739bd2ed073b0f472af089c304a43190496df609ffb197d.css">
    <link media="screen" rel="stylesheet" type="text/css" href="/shipyard/assets/syntax-e3516b4439791d437ffaef80ea69a6ba44fe787936b05fff1a575dd56cd0854d.css">
    <link media="screen" rel="stylesheet" type="text/css" href="/shipyard/assets/application-bbb609a02032e1b5824cd905074c202292dcaf8af35060401001f590d4ea9444.css">
  </head>
  <body>
    <header class="header z-100">
      <div class="container">
        <h6 class="header-logo"><a href="/shipyard/">Shipyard</a></h6>
        <button class="hamburger sm:hidden" shipyard="hamburger">
          <span class="hamburger-button">Menu</span>
        </button>
        <ul class="header-list">
          
            <li class="header-item ">
              <a href="/shipyard/" class="header-link">Installation</a>
            </li>
          
            <li class="header-item ">
              <a href="/shipyard/methodology" class="header-link">Methodology</a>
            </li>
          
            <li class="header-item ">
              <a href="/shipyard/components/" class="header-link">Components</a>
            </li>
          
            <li class="header-item ">
              <a href="/shipyard/utilities/" class="header-link">Utilities</a>
            </li>
          
          <li class="header-item header-item-cta">
            <a href="https://www.npmjs.com/package/@cloudbees/shipyard" target="_blank" class="header-link-cta" rel="noopener">Download</a>
          </li>
        </ul>
      </div>
    </header>
    <div class="container"><h1>Shipyard Modal Example</h1>



<div class="modal-container z-200" modal="example-small">
  <div class="modal modal-sm modal-billing" role="dialog">
    <div class="modal-content">
      <h1 class="modal-title text-lg sm:text-xl">Codeship Basic Downgrade</h1>
      <p class="text-light mb-16">
        Our mission is to ensure that Codeship enables all users to be successful with their projects. The best way to do this is through continuous feedback. Before we process your request, please let us know why you're canceling your current Codeship Basic plan.
      </p>
      <form>
        <ul class="input-list">
          
            <li class="input-item">
              <input id="radio-1" name="radio-name" type="radio" class="input input-radio" checked />
              <label for="radio-1" class="input-label">I'd like to continue using Codeship on the free plan.</label>
            </li>
          
            <li class="input-item">
              <input id="radio-2" name="radio-name" type="radio" class="input input-radio"  />
              <label for="radio-2" class="input-label">I will no longer be using Codeship.</label>
            </li>
          
        </ul>
      </form>
    </div>
    <div class="modal-ctas">
      <a href="/shipyard/components/modals/example-survey" class="btn btn-primary btn-sm sm:btn-md mr-4 sm:mr-8" modal-close>Continue</a>
      <button class="btn btn-secondary btn-sm sm:btn-md" modal-close>Cancel</button>
    </div>
  </div>
</div>
</div>
    <footer class="align-center text-lightest">
      &copy; Shipyard Framework 2018
    </footer>
    <script type="text/javascript" src="/shipyard/assets/application-97485768e1d63e63e3adecd1b96ec9642767cce96b42fe8d479ae0aa7ba647c8.js"></script>
  </body>
</html>
