<html lang="en" class="env- components-modals-index">
  <head>
    <meta charset="utf-8" />
    <title>Shipyard Modals</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="theme-color" content="#20a5a8" />
    <link media="screen" rel="stylesheet" type="text/css" href="/shipyard-styleguide/assets/fonts-196f31f91b382335f739bd2ed073b0f472af089c304a43190496df609ffb197d.css">
    <link media="screen" rel="stylesheet" type="text/css" href="/shipyard-styleguide/assets/syntax-e3516b4439791d437ffaef80ea69a6ba44fe787936b05fff1a575dd56cd0854d.css">
    <link media="screen" rel="stylesheet" type="text/css" href="/shipyard-styleguide/assets/application-9e8d3de459787c29639af3738e9365faf7285553bc5900df1db56a9fa5585da4.css">
  </head>
  <body>
    <header class="header z-100">
      <div class="container">
        <h6 class="header-logo"><a href="/shipyard-styleguide/">Shipyard</a></h6>
        <button class="hamburger sm:hidden" shipyard="hamburger">
          <span class="hamburger-button">Menu</span>
        </button>
        <ul class="header-list">
          
            <li class="header-item ">
              <a href="/shipyard-styleguide/" class="header-link">Installation</a>
            </li>
          
            <li class="header-item ">
              <a href="/shipyard-styleguide/methodology" class="header-link">Methodology</a>
            </li>
          
            <li class="header-item ">
              <a href="/shipyard-styleguide/components/" class="header-link">Components</a>
            </li>
          
            <li class="header-item ">
              <a href="/shipyard-styleguide/utilities/" class="header-link">Utilities</a>
            </li>
          
          <li class="header-item header-item-cta">
            <a href="https://github.com/codeship/shipyard" target="_blank" class="header-link-cta" rel="noopener">Download</a>
          </li>
        </ul>
      </div>
    </header>
    <div class="container"><h1>Shipyard Modals</h1>

<p class="text-light text-lg mt-15">Modals are triggered by applying the following attribute to any button or link (e.g. <code class="language-html highlighter-rouge">modal-trigger="login"</code>).</p>

<hr />

<div class="sm:col-container-nowrap">
  <div class="col col-100">
    <h3 class="col-100">Building Modals</h3>
    <p class="text-light mb-15">Useful when you need to draw attention to information that requires additional action.</p>
  </div>
  <div class="col">
    <button class="btn btn-sm sm:btn-md btn-secondary white-space-nowrap" modal-trigger="example">Demo Modal</button>
  </div>
</div>

<div class="language-html highlighter-rouge"><div class="highlight"><pre class="code-block"><code><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"modal-container z-200"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"modal"</span> <span class="na">role=</span><span class="s">"dialog"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"modal-content"</span><span class="nt">&gt;</span>
      <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"modal-title"</span><span class="nt">&gt;</span>
        <span class="c">&lt;!-- Modal Title --&gt;</span>
      <span class="nt">&lt;/div&gt;</span>
      <span class="c">&lt;!-- Modal Content --&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"modal-ctas"</span><span class="nt">&gt;</span>
      <span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"btn btn-primary"</span><span class="nt">&gt;</span>Save<span class="nt">&lt;/button&gt;</span>
      <span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"btn btn-secondary"</span><span class="nt">&gt;</span>Cancel<span class="nt">&lt;/button&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span>
</code></pre></div></div>

<div class="note note-warning "><p>
    By default, modals don’t have a <code class="language-html highlighter-rouge">z-index</code> property applied so it is recommended to use the <a href="/shipyard-styleguide/utilities/z-index">z-index utility classes</a> on the <code class="language-html highlighter-rouge">modal-container</code> element. We’ve chosen the highest possible value (i.e. <code class="language-html highlighter-rouge">.z-200</code>) for the purposes of our documentation.
  </p></div>

<hr />

<h2 id="css-output">CSS Output</h2>
<p class="section-description">Here’s the raw CSS output if you’d like a peak under the hood.</p>

<div class="language-css highlighter-rouge"><div class="highlight"><pre class="code-block"><code></code></pre></div></div>

<hr />

<ul class="col-container">
  <li class="css-stat-item col col-10">
    <span class="text-sm medium text-lighter block">Gzipped Size</span>
    <span class="text-xxxl bold text-darker"></span>
  </li>
  <li class="css-stat-item col col-10">
    <span class="text-sm medium text-lighter block">Declarations</span>
    <span class="text-xxxl bold text-darker"></span>
  </li>
  <li class="css-stat-item col col-10">
    <span class="text-sm medium text-lighter block">Selectors</span>
    <span class="text-xxxl bold text-darker"></span>
  </li>
</ul>

<div class="modal-container z-200 hidden" modal="example">
  <div class="modal" role="dialog">
    <div class="modal-content">
      <div class="modal-title-border sm:mb-20">
        <h1 class="text-lg sm:text-xl">Billing Info</h1>
      </div>
      <form>
        <div class="col-container mb-20">
          <div class="col">
            <label class="label">First Name</label>
            <div class="input-required">
              <input type="text" class="input input-text" />
            </div>
          </div>
          <div class="col">
            <label class="label">Last Name</label>
            <div class="input-required">
              <input type="text" class="input input-text" />
            </div>
          </div>
        </div>
        <div class="col-container mb-20">
          <div class="col col-100 sm:col-50 mb-15 sm:mb-0">
            <label class="label">Email Address</label>
            <input type="text" class="input input-text" />
          </div>
          <div class="col col-100 sm:col-50">
            <label class="label">Phone Number</label>
            <div class="input-required">
              <input type="text" class="input input-text" />
            </div>
          </div>
        </div>
        <div class="col-container mb-20">
          <div class="col col-100 mb-15">
            <label class="label">Billing Address</label>
            <input type="text" class="input input-text" placeholder="Company Name" />
          </div>
          <div class="col col-100 mb-15">
            <input type="text" class="input input-text" placeholder="Street Address" />
          </div>
          <div class="col col-100 sm:col-33 mb-15">
            <div class="input-required">
              <input type="text" class="input input-text" placeholder="Postal Code" />
            </div>
          </div>
          <div class="col col-50 sm:col-33 mb-15">
            <input type="text" class="input input-text" placeholder="City" />
          </div>
          <div class="col col-50 sm:col-33 mb-15">
            <input type="text" class="input input-text" placeholder="State" />
          </div>
          <div class="col col-100">
            <div class="input-required">
              <div class="input-select-container">
                <select class="input input-select">
                  <option class="input-option-placeholder">Country</option>
                  <option>United States of America</option>
                  <option>France</option>
                  <option>Germany</option>
                  <option>Austria</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="col-container mb-20">
          <div class="col">
            <label class="label">Tax Information</label>
            <input type="text" class="input input-text" placeholder="VAT Number" />
          </div>
        </div>
        <div class="col-container mb-15 sm:mb-0">
          <div class="col">
            <label class="label">Additional Invoice Information</label>
            <p class="label-note">This information will appear on each invoice. Don't include any confidential financial information.</p>
            <input type="text" class="input input-text" placeholder="e.g. Invoice notes, accounts payable info, additional address info, etc..." />
          </div>
        </div>
      </form>
    </div>
    <div class="modal-ctas">
      <div class="col-container-nowrap">
        <div class="col col-100">
          <button class="btn btn-primary btn-sm sm:btn-md" modal-close="">
            Save
            <span class="hidden sm:inline">&amp; Close</span>
          </button>
          <button class="btn btn-secondary btn-sm sm:btn-md ml-5 sm:ml-10" modal-close="">Cancel</button>
        </div>
        <div class="col align-right">
          <span class="btn-sm sm:btn-md white-space-nowrap p-0">
            #<Shipyard::Jekyll::Icon:0x00007faa9ff94b50>
            <span class="text-sm text-lighter medium">Secure Server</span>
          &lt;/span&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;

</Shipyard::Jekyll::Icon:0x00007faa9ff94b50></span></div></div></div></div></div>
</div>
    <footer class="align-center text-lightest">
      &copy; Shipyard Framework 2017
    </footer>
    <script src="/shipyard-styleguide/assets/application-97485768e1d63e63e3adecd1b96ec9642767cce96b42fe8d479ae0aa7ba647c8.js" type="text/javascript"></script>
  </body>
</html>
