@import "shipyard-options"
@import "shipyard"

body
  @extend .body
  padding-top: 70px

a
  @extend .link

header
  position: fixed
  top: 0
  left: 0
  color: #fff
  +respond-to(left, (sm: 0))
  +respond-to(width, (all: 100%, sm: 64px))
  +respond-to(height, (all: 48px, sm: 100%))
  +respond-to(background-image, (all: linear-gradient(to right, #168e9e, #31a075), sm: linear-gradient(#168e9e, #31a075)))
