---
baseurl: /examples/core/pipelines/
global_links:
- name: Dashboard
  url: /
team_links:
- name: Environments
  url: /
- name: Pipelines
  url: /
- name: Builds
  url: /
- name: Members
  url: /
- name: Settings
  url: /
---
<html lang="en" class="{% shipyard_css_classes %}">
  <head>
    <meta charset="utf-8" />
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    {% asset vendor/fonts.css media=screen %}
    {% asset layouts/core/core.css media=screen %}
  </head>
  <body class="bg-gray-lightest">
    <header class="fixed">
      <!-- CloudBees Core Logo -->
      <h6>
        <a href="{{ site.baseurl }}{{ layout.baseurl }}" class="block h-64 relative">
          {% asset core-x36.svg alt="CloudBees Core" class="center" %}
        </a>
      </h6>

      <hr class="hr-thin hr-inverse mt-0 mb-10" />

      <!-- Global Links -->
      <ul class="hidden sm:block">
        {% for link in layout.global_links %}
          <li class="mb-5 relative">
            <a href="#" class="block align-center h-44 relative ease-300ms">
              <div class="absolute pin w-4 bg-teal-light rounded rounded-right"></div>
              {% include icon.html name="github" class="white center h-24 w-24" %}
              <span class="hidden">{{ link.name }}</span>
            </a>
          </li>
        {% endfor %}
      </ul>
      <hr class="hr-thin hr-inverse mt-10 mb-10" />

      <!-- Team Links -->
      <ul class="hidden sm:block">
        {% for link in layout.team_links %}
          <li class="mb-5 relative">
            <a href="#" class="block align-center h-44 relative ease-300ms">
              <div class="absolute pin w-4 bg-teal-light rounded rounded-right"></div>
              {% include icon.html name="github" class="white center h-24 w-24" %}
              <span class="hidden">{{ link.name }}</span>
            </a>
          </li>
        {% endfor %}
      </ul>
    </header>
    <div class="container">{{ content }}</div>
  </body>
</html>
