---
baseurl: /examples/core/pipelines/
navigation:
- name: Environments
  url: /
- name: Pipelines
  url: /
- name: Builds
  url: /
- name: Members
  url: /
- name: Settings
  url: /
---
<html lang="en" class="{% shipyard_css_classes %}">
  <head>
    <meta charset="utf-8" />
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    {% asset vendor/fonts.css media=screen %}
    {% asset layouts/core/core.css media=screen %}
  </head>
  <body class="bg-gray-lightest">
    <header class="fixed">
      <div class="container">
        <h6>
          <a href="{{ site.baseurl }}{{ layout.baseurl }}" class="block">CloudBees Core</a>
        </h6>
        <ul>
          {% for link in layout.navigation %}
            <li class="mb-5">
              <a href="#" class="block bg-red">
                {% include icon.html name="github" class="white" %}
                <span class="hidden">{{ link.name }}</span>
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </header>
    <div class="container">{{ content }}</div>
  </body>
</html>
